= render 'shared/header'
.slider-frame
  .slider-list
    .slider-list__first
    .slider-list__second
.category
  .category-populer
  .category-genre
    .category-genre-first
    .category-genre-second
    .category-genre-third
    .category-genre-forth
.contents-main__category
-#   = render @ladies
-#   = render @mens
-#   = render @appliances
-#   = render @toys
-#   .bland
-#   .bland-populer
-#   .bland-genre
-#     .bland-genre-first
-#     .bland-genre-second
-#     .bland-genre-third
-#     .bland-genre-forth
-# .contents-main__bland
-#   = render @channel
-#   = render @luiviton
-#   = render @supreme
-#   = render @nike
= render 'shared/footer'
.exhibit-btn