= render 'shared/header'
.slider-frame
  .slider-list
    .slider-list__first
    .slider-list__second
.category
  .category-populer
    人気のカテゴリー
  .category-genre
    .category-genre__list
      .category-genre-first
      レディス
      .category-genre-second
      メンズ
      .category-genre-third
      家電・スマホ・カメラ
      .category-genre-forth
      おもちゃ・ホビー・グッズ
.contents-main__category
-#   = render @ladies
-#   = render @mens
-#   = render @appliances
-#   = render @toys
-#   .bland
-#   .bland-populer
-#   .bland-genre
-#     .bland-genre-first
-#     .bland-genre-second
-#     .bland-genre-third
-#     .bland-genre-forth
-# .contents-main__bland
-#   = render @channel
-#   = render @luiviton
-#   = render @supreme
-#   = render @nike
= render 'shared/footer'
.exhibit-btn