= render 'shared/header'
.slider-frame
  .slider-list
    -# <div id="arrows">
    -# <div class="slick-next">
    -# <img src="slide_next.png" alt="→">
    -# </div>
    -# <div class="slick-prev">
    -# <img src="slide_prev.png" alt="←">
    -# </div>
    -# </div>
    -#  = icon('far', 'fa-chevron-left')
    -#  = icon('far', 'fa-chevron-left')
    .slider-list__first
    .slider-list__second
.category
  .category__populer
    人気のカテゴリー
  .category__genre
    .category__genre__list
      .category__genre__list-first
        レディース
      .category-genre__list-second
        メンズ
      .category-genre__list-third
        家電・スマホ・カメラ
      .category-genre__list-forth
        おもちゃ・ホビー・グッズ
.contents-main__new
  .contents-main__new__category
    .contents-main__new__category__header
      .contents-main__new__category__header__left
        レディース新着アイテム
      .contents-main__new__category__header__right
        もっと見る＞
    .contents-main__new__category__items
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          <img src="cap.jpg" alt="item1" class="contents-main__new__category__items__card__img">
          .contents-main__new__category__items__card__img__money
            ￥5,000
        .contents-main__new__category__items__card__text
          プラダ 帽子
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥10,000
        .contents-main__new__category__items__card__text
          エルメス 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥58,000
        .contents-main__new__category__items__card__text
          シャネル 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥8,000
        .contents-main__new__category__items__card__text
          プラダ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥900
        .contents-main__new__category__items__card__text
          プラダ マニキュア
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥7,000
        .contents-main__new__category__items__card__text
          ディオール 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥15,000
        .contents-main__new__category__items__card__text
          エルメス スカーフ
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥20,000
        .contents-main__new__category__items__card__text
          グッチ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥4,000
        .contents-main__new__category__items__card__text
          シャネル 香水
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__img__money
            ￥2,000
        .contents-main__new__category__items__card__text
          プラダ ハンカチ
      
= render 'shared/footer'
