= render 'shared/header'
.slider-frame
  .slider-list
    .slider-list__first
    .slider-list__second
.category
  .category-populer
    人気のカテゴリー
  .category-genre
    .category-genre__list
      .category-genre__list-first
        レディース
      .category-genre__list-second
        メンズ
      .category-genre__list-third
        家電・スマホ・カメラ
      .category-genre__list-forth
        おもちゃ・ホビー・グッズ
.contents-main__new
  .contents-main__new__category
    .contents-main__new__category__header
      .contents-main__new__category__header__left
        レディース新着アイテム
      .contents-main__new__category__header__right
        もっと見る＞
    .contents-main__new__category__items
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥5000
        .contents-main__new__category__items__card__text
          プラダ 帽子
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥10000
        .contents-main__new__category__items__card__text
          エルメス 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥58000
        .contents-main__new__category__items__card__text
          シャネル 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥8000
        .contents-main__new__category__items__card__text
          プラダ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥900
        .contents-main__new__category__items__card__text
          プラダ マニキュア
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥7000
        .contents-main__new__category__items__card__text
          ディオール 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥15000
        .contents-main__new__category__items__card__text
          エルメス スカーフ
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥20000
        .contents-main__new__category__items__card__text
          グッチ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥4000
        .contents-main__new__category__items__card__text
          シャネル 香水
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          .contents-main__new__category__items__card__money
            ￥2000
        .contents-main__new__category__items__card__text
          プラダ ハンカチ
      
= render 'shared/footer'
.exhibit-btn