body {
  background-color: rgb(245,245,245);
}
.top-show {
  width: 100%;
  height: 100%;

  // .main-content {
  //   background-color:yellow;
  //   height: 300px;
  //   padding: 24px 40px 40px;
  //   margin: 40px auto 0;
  .detail-area {
    background-color: #ffffff;
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    width: 620px;
    .title {
      // background-color: blue;
      &__itemname {
        font-weight: bold;
        margin-bottom: 18px;
        text-align: center;
        font-size: 24px;
        width: 100%;
        height: 33px;
        line-height: 33px;
        // background-color: rgb(140,50,70);
      }
      &__overview {
        display: none;
        width: 100%;
        background-color: rgb(80,140,200);
      }
    }
    .detail {
      display: flex;      
      .left-preview {
        width: 300px;
        background-color: #fafafa;
        &__bigone {
          width: 300px;
          height: 300px;
          // background-image: url(https://www.jalan.net/news/img/2017/08/20170802__0002916297_1-670x443.jpg);
        }
        &__smallten {
          width: 100%;
          height: 120px;
          display: flex;
          flex-wrap: wrap;
          &__smallpreview {
            width: 60px;
            height: 60px;  
          }
        }
      }
      .right-table {
        // border-collapse: collapse;
        // border: 1px solid #f5f5f5;
        box-sizing: border-box;
        margin-left: 18px;
        width: calc( 100% - 300px );
        height: 420px;
        font-size: 14px;
        // padding: 8px;
        &__sellar {
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          // padding: 8px;
          height: 100%;
          &--heading {
            width: 117px;
            padding: 8px;
            height: auto;
            background-color: #fafafa;
            border: 1px solid #f5f5f5;
          }
          &--value {
            width: 182px;
            padding: 8px;
            border: 1px solid #f5f5f5;
            .fas {
              margin-right: 18px;
            }
            span {
              color: #000;
            }
            .fa-smile {
              color: pink;
            }
            .fa-meh {
              color: orange;
            }
            .fa-frown {
              color: blue;
            }
          }
        }
      }
    }
    .buy-section {
      text-align: center;
      // width: 100%;
      .product-price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 18px;
        .product-price__price {
          margin-right: 16px;
          font-size: 50px;
          font-weight: 600;
        }
        .product-price__taxin {
          font-size: 10px;
          margin-right: 4px;
        }
        p {
          font-size: 16px;
        }
      }
      .proseed-to-order {
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        background: #ea352d;
        color: #fff;

      }
      // スマホ版でのみ表示されるっぽい
      .note_apponly {
        display: none;
      }
    }

    //  以降のコメントをmysqlにstringで放り込むが、ちゃんと改行コード入れられるのか？
    .detail-comment {
    }
    .evaluation-section {
      font-size: 14px;
      margin-top: 16px;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-box {
        display: flex;
        // align-items: center;
        .evaluation-section__like {
          padding: 8px 16px;
          display: flex;
          // align-items: flex-end;
          align-items: center;
          //いいねがあれば、%i.fas.fa-heart(塗りつぶし)に切り替えないといけない
          background-color: #f5f5f5;
          border-radius: 15px;
          span,&__like-count {
            margin-left: 8px;
           }
        }
        .evaluation-section__report-warning {          
          padding: 8px 16px;
          background-color: #f5f5f5;
          border-radius: 15px;
          margin-left: 16px;
          span {
            margin-left: 8px;
          }
        }
      }
      .evaluation-section__security-report {
        right: 0;
        color: #0099eb;
        span {
          margin-left: 8px;
          // color: #0099eb;
        }
      }
    }
  }

  // コメント投稿はログインしていない時は表示されない
  .chat-area {
    background-color: #ffffff;
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    width: 620px;
    margin-top: 10px;
    .comments-area {
      .comment-area {
        display: flex;
        .left-box {
          display: frex;
          justify-content: center;
          width: 50.02px;
          .usericon {
            border-radius: 50%;
            z-index: 4;
            position: relative;
          }
          .sellar-flag {
            text-align: center;
            font-size: 12px;
            z-index: 4;
          }
        }
        .right-box {
          display: inline-block;
          .name-section {

          }
          .comment-section {
            position: relative;
            background-color: #eef0f4;
            padding: 16px;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            z-index: auto;
            .comment {
              font-size: 14px;
            }
            .icon-section {
              margin-top: 8px;
            }
          }
          .comment-section::before {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(-135deg);
            top: 10px;
            left: -20px;
            z-index: -2;
            // border-left: 20px solid transparent;
            // border-top: 20px solid #eef0f4;
            // border-right: 20px solid #eef0f4;
            // border-bottom: 20px solid transparent;
            border: 20px solid #2c4a85;
          }
          .comment-section::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(-135deg);
            top: 0px;
            left: -80px;
            z-index: -1;
            // border-left: 40px solid transparent;
            // border-top: 40px solid green;
            // border-right: 40px solid green;
            // border-bottom: 40px solid transparent;
            border: 40px solid #923636;
          }
        }
      }
    }
    .post-section {
      .post-section__warning {

      }
      .post-section__textbox {

      }
      .post-seciton__sendmessage-btn {

      }
    }
  }

  .change-item-area {

  }
  .change-item-area__beforepagelink {

  }
  .change-item-area__afterpagelink {

  }
}

.posttosns-area {

}

.otheritems_of_seller {

}
