.regacc_header
  %h1
    %img{ src: "fmarket_log_red.svg", alt: "mercali" }
  .rightbox
    %li.is-active
      %span 会員情報
    %li
      %span 電話番号認証
    %li
      %span お届け先住所入力
    %li
      %span 支払い方法
-# hello haml!