.contents-main__new__category__items
  = link_to root_path do
    .contents-main__new__category__items__card
      .contents-main__new__category__items__card__img
        - @images.each do |image|
          = image_tag image.image,class:"contents-main__new__category__items__card__img"
          .contents-main__new__category__items__card__img__money
            - @items.each do |item|
              =item.price
              -# = item_tag  class:".contents-main__new__category__items__card__img__money"
            -# ￥5,000
      .contents-main__new__category__items__card__text
        - @items.each do |item|
          =item.detail
        -# プラダ 帽子
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "heels.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥10,000
  -#   .contents-main__new__category__items__card__text
  -#     エルメス ヒール
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "blouse.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥58,000
  -#   .contents-main__new__category__items__card__text
  -#     シャネル ブラウス
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "car1.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥8,000
  -#   .contents-main__new__category__items__card__text
  -#     プラダ 車
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "bird1.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥900
  -#   .contents-main__new__category__items__card__text
  -#     プラダ かもめ
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "cap.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥7,000
  -#   .contents-main__new__category__items__card__text
  -#     ディオール 鞄
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "dress.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥15,000
  -#   .contents-main__new__category__items__card__text
  -#     エルメス ドレス
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "pafume.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥20,000
  -#   .contents-main__new__category__items__card__text
  -#     グッチ 鞄
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "pafume.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥4,000
  -#   .contents-main__new__category__items__card__text
  -#     シャネル 香水
  -# .contents-main__new__category__items__card
  -#   .contents-main__new__category__items__card__img
  -#     = image_tag "dress.jpg", size: "188x182", alt: "sample1"
  -#     .contents-main__new__category__items__card__img__money
  -#       ￥2,000
  -#   .contents-main__new__category__items__card__text
  -#     プラダ ハンカチ