.category
  .category__populer
    人気のカテゴリー
  .category__genre
    .category__genre__list
      レディース
    .category__genre__list
      メンズ
    .category__genre__list
      家電・スマホ・カメラ
    .category__genre__list
      おもちゃ・ホビー・グッズ