.contents-main__new__category__items
  - @ladies.each do |l|
    .contents-main__new__category__items__card
      .contents-main__new__category__items__card__img
        = image_tag l.images.first.src.url, size: "188x182", alt: "sample1"
        .contents-main__new__category__items__card__img__money
          ¥
          = l.price
      .contents-main__new__category__items__card__text
        = l.item_name
      