.footer
  .footer-top
    .footer-top__comment
    .footer-top-big__comment
    .footer-top__image
    .footer-top__btn
      .footer-top__btn__left
      .footer-top__btn__center
      .footer-top__btn__right
  .footer-bottom
    .footer-bottom__info
      .footer-bottom__info__mercali
        .footer-bottom__info__mercali__btn
          =link_to "https://twitter.com/", class: "contents__btn" do
            Twitter
          =link_to "https://www.facebook.com/", class: "contents__btn" do
            Facebook
      .footer-bottom__info__help
      .footer-bottom__info__privacy
      .footer-bottom__info__policy
      .footer-bottom__info__safety
      .footer-bottom__info__country  
      .footer-bottom__info__copyright