.header
  .head-part
    .heading
      %h3.heading-logo
        mercali
      .heading__form
        -# = f.text_field :content, class: 'form__message',placeholder: '何かお探しですか？'
    .header-item__btn
      .header-item__btn-left
        .header-item__btn-left-first
        .header-item__btn-left-second
      .header-item__btn-right
        .header-item__btn-right-first
        .header-item__btn-right-second