.heder{
  background-color: red;
  height: 100px;
  width: 100%;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;

  .header-logo{
    display: flex;
    justify-content: space-between;

    .header-logo__name{
      height: 36px;
      width: 134px;
      background-color: blue;

    }
  }

   
}