.slider-frame{
  height: 390px;
  width: 1440px;
  box-sizing: border-box;
  position: relative;

  .slider-list{
    

    button{
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .slide-dots{
      position: absolute;
      left: 50%;
      top: 350px;
      text-align: center;
      li{
        display: inline-block;
        margin: 0 15px;
        button{
          position: relative;
          text-indent: -9999px;
          &:before{
            content: '○';
            font-size: 15px;
            text-indent: 0px;
            color: chartreuse;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.slick-active{
          button:before{
            content: '●';
          }
        }
      }
    }
  }

    .slider-list__first{
      height: 390px;
      width: 1440px;
      background-color: darkgray;
    }
    .slider-list__second{
      height: 390px;
      width: 1440px;
      background-color: darkkhaki;
    }
}